*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color:   #1e242b;
}
.fourth:hover{
    background: #1e242b;

}
.header{
    background: radial-gradient(#1e242b);
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    margin-top: 20px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #EE4A11;
}
p{
    color: hsl(216, 46%, 50%);
    size: 60px;
    font-size: large;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    margin-bottom: 70px;
    
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
color: #EE4A11;

}
.fourth{
    display: inline-block;
    background: #EE4A11;
    color: rgb(46, 43, 199);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;

}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-height: 250px;
    margin-bottom: 30px;
}
.col-3 img{
width: 200;
height: 250;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;

}
.col-4 img{
width: 250;
height: 250;
}
.col-4 h2{
    margin-top: 10px;
    text-align: center;
    color: #EE4A11;
}
.col-4 h3{
    margin-top: 10px;
    color: hsl(216, 46%, 50%);
    text-align: center;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: hsl(216, 46%, 50%);

}
.title::after{
    content: '';
    background:#EE4A11;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    

}
h4{
    color: black;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;

}
.col-4:hover{
    
    transform: translateY(-5px);
}
/*-------offer-----*/

.offer{
    background: radial-gradient(#ffe6e6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding:50px ;

}
h4{
    color:#EE4A11 ;
}
/*-footer*/
hr{
    border: none;
    background: black;
    height: 5px;

    
}
.copyright{
    
    text-align: center;
    background-color: black;
    color: #EE4A11;
    font-size: larger;
    

}
.copyright span{
    color: hsl(216, 46%, 50%);
    font-size: larger;
}


