*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color:   #1e242b;
}
.fourth:hover{
    background: #1e242b;

}
.header{
    background: radial-gradient(#1e242b);
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    margin-top: 20px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #EE4A11;
}
p{
    color: hsl(216, 46%, 50%);
    size: 60px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.header .row{
    margin-top: 70px;
}

table{
  
    position: relative;
    text-align: center;
    margin-left: 400px;
    margin-bottom: 50px;
}
tr{
    
    color:  hsl(216, 46%, 50%);
}
span{
    color:#C39BD3 ;
}
hr{
    border: none;
    background: black;
    height: 5px;

    
}
.copyright{
    
    text-align: center;
    background-color: black;
    color: #EE4A11;
    font-size: larger;
    

}
.copyright span{
    color: hsl(216, 46%, 50%);
    font-size: larger;
}
